body {
  overflow: hidden;
  border: 2px solid var(--divider);
  position: relative;
}

.timer-section {
  width: 100vw; height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* icons */
.modes-wrapper {
  position: absolute;
  margin: 1em 1.5em;
  top: 50%; right: 0px;
  translate: 0 -50%;  
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.mode-icon {
  cursor: pointer;
  width: 55px; height: 55px;
  background: none;
  border: none;
  filter: invert(0.2);
  transition: filter 0.2s ease;
}

.mode-icon.active {
  filter: invert(1);
}

.mode-icon img {
  width: 100%; height: 100%;
  padding: 0.5em;
}

#timer {
  user-select: none;
  font-size: 13rem;
  font-variant-numeric: tabular-nums;
  text-shadow: 5px 1px 10px var(--primary);
}

/* style the input text */
input.glowing-input {
  font-size: 1.2rem;
  font-weight: 500;
}

/* style the placeholder text */
input.glowing-input::placeholder {
  color: #999999;
  opacity: 0.8;
}

#timer span {
  font-size: 9rem;
  color: var(--text-secondary);
  text-shadow: none;
}

.glowing-btn-wrapper {
  position: absolute;
  bottom: 40px; left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* input field for start btn */
.glowing-btn-wrapper input {
  text-align: center;
}

.glowing-btn, .glowing-input {
  width: 100px; height: 40px;
  background-color: var(--secondary);
  color: var(--text-primary);
  border: none;
  border-radius: 16px;
}

.glowing-btn:hover, .glowing-input:focus {
  outline: none;
  background-color: hsl(328, 94%, 40%);
  box-shadow: 0 0 32px rgba(249, 57, 159, 0.65)
}

@media (max-width: 800px) {
  #timer {
    font-size: 7rem;
  }

  #timer span {
    font-size: 7rem;
  }

  .modes-wrapper {
    margin: 2em;
    top: 20px; right: 0;
    flex-direction: row;
  }
}